@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
}

a {
    color: #040405;
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    font-size: 44.21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 14.74px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.M {
    font-size: 13.26px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-weight: normal;
    color: rgba(4, 4, 5, 0.5);
    line-height: 23.58px;
}

.S {
    font-size: 10.32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

/* --> Header (start) <-- */

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    background-image: url('/Imgs/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 500px;
}

.header-top {
    padding: 30px 0px;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    font-size: 29.47px;
    text-transform: uppercase;
    margin-right: 20px;
}

.header-nav ul {
    line-height: 23px;  
}

.header-nav  ul li a{
    color: #ffffff;
    font-size: 10.32px;
    font-weight: bolder;
}

.header-nav  ul li:hover a,
.header-nav  ul li:active a,
.header-nav ul li.active a{
    color: #ffe26d;
}

.header-nav ul li{
    display: inline-block;
    text-transform: uppercase;
    padding-right: 25px;
}

.text {
    width: 500px;
    margin-top: 80px;
}

.text h1 {
    font-size: 40.69px;
}

.text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 19.16px;
    margin-top: 30px;
    margin-bottom: 35px;
}

a.btn {
    display: inline-block;
    font-size: 10.32px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px 24px;
    background-color: #ffe26d;
    border: 1px solid #ffe26d;
    border-radius: 3px;
}

header div div a.btn {
    margin-bottom: 250px;
    margin-left: 5px;
}

a.btn:hover, 
a.btn:active {
    background-color: #62497c;
    border-color: #62497c;
    color: #ffffff;
}

/* --> Header (end) <-- */

/* --> Section WELCOME (start) <-- */

.circle {
    height: 80px;
    width: 80px;
    background-color: #62497c; 
    border: 1px solid #62497c;
    border-radius: 50%;
    margin: 15px;
}

.circle img.icon {
    position: relative;
    height: auto;
    width: auto;
}

.circle .bell {
    top: 20px;
    left: 0px;
}

.circle .envelop {
    top: 25px;
    left: 0px;
}

.circle .drawer {
    top: 23px;
    left: 0px;
}

.welcome {
    color: #040405;
    background-color: #ffffff;
}

.welcome .container h1 {
    text-align: center;
    margin-top: 65px;
}

.welcome>div>.flex>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 29.47px;
    width: 450px;
    padding-top: 15px;
}

.welcome>.container>.flex>img {
   padding-right: 25px;
}

.welcome .container .flex {
    justify-content: space-between;
    margin-top: 55px;
}

.welcome .container .flex .columns {
    flex: 1 100%;
    margin-top: 50px;
}

  [class^='col-'] > a {
      display: block;
      width: 75px;
      margin-top: 30px;
  }

  [class^='col-'] > h3 {
    margin-bottom: 18px;
    margin-top: 28px;
    color: #62497c
  }

  [class^='col-'] > * {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

[class^='col-'] {
    width: 170px;
}

.hr {
    border-bottom: 2px solid rgba(98, 73, 124, 0.5);
    opacity: 0.502;
    width: 720px;   
    margin: 55px auto 38px;
}

/* --> Section WELCOME (end) <-- */

/* --> Section Projects (start) <-- */

.projects {
    color: #040405;
}

.projects h1 {
    text-align: center;
    margin-bottom: 45px;
}

.projects .flex {
    justify-content: center;
}

.img-box {
    margin-bottom: 40px;
}

[class^='slide-'] {
    flex: 0 0 0;
    width: 350px;
    height: 725px;
    background-color: #efefef;
}

[class^='slide-']:nth-child(even) {
    background-color: #e4e4e4;
}

[class^='slide-']:hover {
    background-color: #ffe26d;
}

[class^='slide-']:hover a.btn {
    background-color: #62497c;
    color: #efefef;
}

[class^='slide-'] > h3, [class^='slide-'] > p {
    padding: 0px 20px 10px 50px;
}

[class^='slide-'] > a {
    margin-left: 50px;
}

/* --> Section Projects (end) <-- */

/* --> Section Pricing (start) <-- */

.pricing {
    color: #040405;
    background-color: #ffffff;
}

.pricing .flex {
    /* justify-content: space-around; */
    justify-content: space-evenly;
}

.pricing h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 45px;
}

.pricing [class^='col-'] > h3:first-child {
    color: #040405;
    margin-top: 0;
    margin-bottom: 0px;
    /* text-align: center; */
}

.pricing [class^='col-'] > h3:nth-child(2) {
    text-transform: capitalize;
    opacity: 0.39;
    color: #040405;
    margin-top: 13px;
    margin-bottom: 13px;
}

.pricing li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-weight: normal; */
    font-size: 10.32px;
    line-height: 22.5px;
    text-transform: none;
}

.pricing ul {
    margin-bottom: 10px;
}

.pricing [class^='col-'] {
    border-right: 2px solid rgba(231, 231, 231, 0.5);
}
  
.pricing [class^='col-'] a.btn {
    width: 40px;
    height: 10px;
    padding: 7px 19px;
    margin-top: 18px;
}

/* --> Section Pricing (end) <-- */

/* --> Section Video (start) <-- */



/* --> Section Video (end) <-- */


.border {
    border: 15px dashed rgba(0, 128, 0, 0.5);
}

.border-red {
    border: 10px dashed rgba(201, 9, 25, 0.5);
}

.border-pink {
    border: 5px dashed rgba(233, 34, 150, 0.5);
}

